doctype
html(ng-app)
  head
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
      title CSP Violations
      link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
      link(href='css/report.css', rel='stylesheet', type='text/css')
    body
      .container(ng-app='ng-app', ng-controller='ReportCtrl')
        .row.header
          header.col-md-9
            h1 CSP Violations
            p
              | Total Violations:
              strong {{violations.length}}
          form.col-md-3(role='form')
            .form-group
              label.sr-only(for='report-filter') Filter
              input#report-filter.form-control(ng-model='reportFilter', placeholder='Filter')
        .row
          table.table.table-responsive.col-md-12
            thead
              tr
                th URI
                th Violated Directive
                th Original Policy
                th Blocked URI
                th Source File
                th Line Number
                th Status Code
                th User Agent
            tbody
              tr(ng-repeat='violation in violations | filter:reportFilter')
                td
                  a(href='{{violation.documentURI}}', target='_blank') {{violation.documentURI}}
                td {{violation.violatedDirective}}
                td.long {{violation.originalPolicy}}
                td
                  a(href='{{violation.blockedURI}}', target='_blank') {{violation.blockedURI}}
                td {{violation.sourceFile}}
                td {{violation.lineNumber}}
                td {{violation.statusCode}}
                td.long {{violation.userAgent}}
      script(src='/bower_components/angular/angular.min.js')
      script(src='/js/report.js')
