view(ng-controller='ReportController')
  .row.header
    header.col-md-9
      h1 CSP Violations
    form.col-md-3(role='form')
      .form-group
        label.sr-only(for='report-filter') Filter
        input#report-filter.form-control(ng-model='reportFilter', placeholder='Filter')
  .alert.alert-danger(ng-show='alertMessage') {{alertMessage}}
  .row(ng-show='violations')
    table.table.table-responsive
      thead
        tr
          th(ng-click='rowOrder="documentURI"') URI
          th(ng-click='rowOrder="violatedDirective"') Violated Directive
          th(ng-click='rowOrder="statusCode"') Status
          th Report
      tbody
        tr(ng-repeat='violation in violations | filter:reportFilter | orderBy:rowOrder')
          td
            a(href='{{violation.documentURI}}', target='_blank') {{violation.documentURI}}
          td {{violation.violatedDirective}}
          td {{violation.statusCode}}
          td
            a(href='{{ "#/detail/" + $index }}') View
    p
      span Total Violations&nbsp;
      span.label.label-info {{violations.length}}

